/Dokumanlar.zip
/maths_transactions
/multi_post_and_multi_get
/oop
/PHP Egitim Bilgi Formu.pdf
/phpinfo
/phpini.txt
/referance
/regular_expressions
/serialize()_and_unserialize()
/session
/settype()
/super_globals
/uploaded_file
/variable
/var_dump()
/veri_turu_belirleme
/veri_turu_dayatmasi